@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;

.items-drawer {
  @apply hover:bg-gray-900 hover:text-yellow-400 w-full py-2 rounded-md transition ease-in-out duration-150;
}
.btn-home {
  @apply bg-yellow-400 py-3 px-5 uppercase font-bold rounded-md bg-opacity-80 hover:bg-opacity-100 transition duration-300 ease-in-out animate-bounce ;
}
.home-page {
  @apply h-screen bg-black flex flex-col justify-center items-center space-y-6;
}
.section {
  @apply container mx-auto px-4;
}
.form-group {
  @apply flex flex-col;
}

.input-line-style {
  @apply mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
}

.textarea-line-style {
  @apply mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
}

.select-line-style {
  @apply block w-full mt-0 px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
}
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}
