@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;

.items-drawer {
  @apply hover:bg-black hover:text-yellow-400 w-full py-2 rounded-md transition ease-in-out duration-150 font-bold;
}
.btn-home {
  @apply bg-black py-3 px-5 uppercase font-bold rounded-md  hover:bg-yellow-400 hover:text-black transition duration-300 ease-in-out  text-yellow-400;
}
.home-page {
  @apply h-screen bg-black flex flex-col justify-center items-center space-y-6;
}
.section {
  @apply container mx-auto px-4;
}
.form-group {
  @apply flex flex-col;
}

.input-line-style {
  @apply mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
}

.textarea-line-style {
  @apply mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
}

.select-line-style {
  @apply block w-full mt-0 px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
}

.btn-nav {
  @apply  px-4 py-2 bg-white rounded-md text-black font-bold;
}
.btn-submit {
  @apply w-full text-center bg-black py-3 rounded-lg shadow-lg text-yellow-400 uppercase font-bold;
}

.btn-login {
  @apply py-2 px-4 text-center w-full border-2 border-black font-bold bg-black text-white transition duration-150 ease-in-out rounded-md hover:opacity-80;
}

.btn-post {
  @apply font-bold text-white py-2 px-4 rounded-lg flex items-center shadow-xl ;
}
.dropdown-user {
  @apply bg-black flex flex-col p-8 text-yellow-400 absolute top-16 rounded-lg items-center border-t-4 border-yellow-400 space-y-2 font-bold;
}

.btn {
  @apply px-4 py-2  rounded-lg font-bold  shadow-lg flex items-center justify-center transition duration-150 ease-in-out hover:opacity-90;
}

.user-info {
  @apply bg-black flex md:flex-row flex-col items-center p-10 rounded-xl shadow-xl mt-5 md:divide-x-2  text-white md:space-x-5 space-y-4 md:space-y-0 text-center md:text-left;
}

@tailwind utilities;

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
h1 {
  font-size: 3rem;

}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}
body::-webkit-scrollbar, .drawer::-webkit-scrollbar, .categories::-webkit-scrollbar {
  width: 8px;     
  height: 8px;    
  display: block;  
}
body::-webkit-scrollbar-thumb, .drawer::-webkit-scrollbar-thumb, .categories::-webkit-scrollbar-thumb {
  background:#FCD34D;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover, .drawer::-webkit-scrollbar-thumb:hover, .categories::-webkit-scrollbar-thumb:hover {
  background: #FCD34D;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active, .drawer::-webkit-scrollbar-thumb:active, .categories::-webkit-scrollbar-thumb:active {
  background-color: #FBBF24;
}
body::-webkit-scrollbar-track, .drawer::-webkit-scrollbar-track, .categories::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 6px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active,
.drawer::-webkit-scrollbar-track:hover,
.drawer::-webkit-scrollbar-track:active,
.categories::-webkit-scrollbar-track:hover,
.categories::-webkit-scrollbar-track:active {
background: #e1e1e1;
}


.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}
